/**
 * Tests full suite of options and properties.
 */

.test-three__item--single-column {
	width: calc((100vw - 10px * 2) / 12 - 0.5729rem);
	max-width: calc((75rem - 10px * 2) / 12 - 0.5729rem);
	margin-right: 0.625rem;
	margin-bottom: 0.625rem;
}

.test-three__item--single-column:last-of-type {
	margin-right: 0;
}

.test-three__item--single-column:nth-child(12) {
	margin-right: 0;
}

.test-three__item--offset {
	width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 3) + 0.625rem * 2);
	max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 3) + 0.625rem * 2);
	margin-right: 0.625rem;
	margin-left: calc(((100vw - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
}

.test-three__item--offset:last-of-type {
	margin-right: 0;
}

@media (min-width: 75rem) {

	.test-three__item--offset {
		margin-left: calc(((75rem - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
	}
}

.test-three__item--offset-right {
	width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 4) + 0.625rem * 3);
	max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 4) + 0.625rem * 3);
	margin-right: calc(((100vw - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
	margin-left: 0.625rem;
}

@media (min-width: 75rem) {

	.test-three__item--offset-right {
		margin-right: calc(((75rem - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
	}
}

.test-three__item--fractional-column {
	width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 3.5) + 0.625rem * 3);
	max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 3.5) + 0.625rem * 3);
	margin-right: 0.625rem;
	margin-left: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 1.5) + 0.625rem);
}

.test-three__item--fractional-column:last-of-type {
	margin-right: 0;
}

@media (min-width: 75rem) {

	.test-three__item--fractional-column {
		margin-left: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 1.5) + 0.625rem);
	}
}
