/**
 * Tests full suite of options and properties.
 */

.test-one__item--single-column {
	width: calc((100vw - 10px * 2) / 12 - 0.5729rem);
	max-width: calc((75rem - 10px * 2) / 12 - 0.5729rem);
	margin-right: 0.625rem;
}

.test-one__item--single-column:last-of-type {
	margin-right: 0;
}

.test-one__item--offset {
	margin-left: calc(((100vw - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
}

@media (min-width: 75rem) {

	.test-one__item--offset {
		margin-left: calc(((75rem - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
	}
}

.test-one__item--full-suite {
	width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 3) + 0.625rem * 2);
	max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 3) + 0.625rem * 2);
	margin-right: 0.625rem;
	margin-left: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 2) + 0.625rem * 2);
}

.test-one__item--full-suite:last-of-type {
	margin-right: 0;
}

@media (min-width: 75rem) {

	.test-one__item--full-suite {
		margin-left: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 2) + 0.625rem * 2);
	}
}

.test-one__item--offset-right {
	width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 4) + 0.625rem * 3);
	max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 4) + 0.625rem * 3);
	margin-right: calc(((100vw - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
	margin-left: auto;
}

@media (min-width: 75rem) {

	.test-one__item--offset-right {
		margin-right: calc(((75rem - 10px * 2) / 12 - 0.5729rem) + 0.625rem);
	}
}

.test-one__item--mq {
	width: 100%;
}

@media (min-width: 60rem) {

	.test-one__item--mq {
		width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 3) + 0.625rem * 2);
		max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 3) + 0.625rem * 2);
		margin-right: 0.625rem;
	}

	.test-one__item--mq:last-of-type {
		margin-right: 0;
	}
}

.test-one__item--fractional-column {
	width: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 5.5) + 0.625rem * 5);
	max-width: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 5.5) + 0.625rem * 5);
	margin-right: 0.625rem;
	margin-left: calc((((100vw - 10px * 2) / 12 - 0.5729rem) * 1.5) + 0.625rem);
}

.test-one__item--fractional-column:last-of-type {
	margin-right: 0;
}

@media (min-width: 75rem) {

	.test-one__item--fractional-column {
		margin-left: calc((((75rem - 10px * 2) / 12 - 0.5729rem) * 1.5) + 0.625rem);
	}
}
