/**
 * Tests full suite of options and properties.
 */

:root {
	--columns: 12;
	--gap: 0.625rem;
	--edge: 0.625rem;
}

@media (min-width: 75rem) {
	:root {
		--gap: 1rem;
		--edge: 1.25rem;
	}
}

@tidy columns var(--columns);
@tidy gap var(--gap) / true;
@tidy edge var(--edge);
@tidy site-max 75rem;

.test-four__item--single-column {
	tidy-span: 1;
}

.test-four__item--offset {
	tidy-offset-left: 1;
}

.test-four__item--full-suite {
	tidy-span: 3;
	tidy-offset-left: 2;
}

.test-four__item--offset-right {
	tidy-span: 4;
	tidy-offset-right: 1;
	margin-left: auto;
}

.test-four__item--mq {
	width: 100%;
}

@media (min-width: 60rem) {

	.test-four__item--mq {
		tidy-span: 3;
	}
}

.test-four__item--fractional-column {
	tidy-span: 5.5;
	tidy-offset-left: 1.5;
}
