/**
 * Tests full-bleed siteMax.
 */
@tidy columns 12;
@tidy gap 0.625rem / true;
@tidy edge 10px;

.test-two__item--single-column {
	tidy-span: 1;
}

.test-two__item--offset {
	tidy-offset-left: 1;
}

.test-two__item--full-suite {
	tidy-span: 3;
	tidy-offset-left: 2;
}

.test-two__item--offset-right {
	tidy-span: 4;
	tidy-offset-right: 1;
	margin-left: auto;
}

.test-two__item--mq {
	width: 100%;
}

@media (min-width: 60rem) {

	.test-two__item--mq {
		tidy-span: 3;
	}
}

.test-two__item--fractional-column {
	tidy-span: 5.5;
	tidy-offset-left: 1.5;
}
