/**
 * Styles the article elements.
 */

.article {
  @include auto-margins;
  margin-bottom: rem(75);

  @media (min(lg)) {
    tidy-span: tidy-var(columns);
  }
}

.article__header {
  margin-bottom: rem(50);
}

.article-header__figure {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min(lg)) {
    display: block;
  }
}

.article-header__img {
  margin-bottom: rem(8);
  order: 2;

  @media (min(lg)) {
    margin-bottom: rem(20);
    order: 0;
  }
}

.article-header__figcaption {
  @include auto-margins;
  order: 2;
  tidy-span: 8;

  @media (min(lg)) {
    order: 0;
    tidy-column: 9 / span 3 / 0;
  }
}

.article-header__intro {
  @include auto-margins;
  background-color: white;
  margin-bottom: rem(20);
  padding: rem(20) rem(12);
  text-align: center;
  tidy-span: 8;

  @media (min(md)) {
    tidy-span: 6;
  }

  @media (min(lg)) {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding-left: rem(64);
    padding-right: rem(64);
    position: absolute;
    right: 0;
    tidy-span: 6;
  }

  h2 {
    font-size: rem(24);
    font-weight: 700;
    margin-bottom: rem(12);

    @media (min(lg)) {
      font-size: rem(36);
    }
  }
}

.article__content {
  @include auto-margins;
  tidy-span: 6;

  @media (min(lg)) {
    tidy-offset-left: 2;
    tidy-span: 6;
  }
}
