/**
 * Styles miscellaneous content elements.
 */

.content__figure {
  position: relative;
}

.content__figure--floated {

  img {
    margin-bottom: 0.375rem;
  }
}

.content__figure--fullwidth {
  margin-bottom: 1.75rem;
  width: 100vw;
}

.content__figcaption--fullwidth {
  bottom: 1.25rem;
  color: white;
  position: absolute;
}

.content__credit {
  display: block;
  font-size: 80%;
  margin-top: 0.3125rem;
  text-transform: uppercase;
}
