@import 'utilities';
@import 'colors';
@import 'layout';

@tidy columns var(--columns);
@tidy gap var(--gap);
@tidy edge var(--edge);
@tidy max var(--site-max);

:root {
  --columns: 8;
  --gap: rem(8);
  --edge: rem(12);
  --site-max: rem(1280);
  --overlay-column-color: #FBB294;

  @media (min-width(lg)) {
    --columns: 12;
    --gap: rem(20);
    --edge: rem(30);
    --site-max: rem(1280);
  }
}

@import 'reset';
@import 'overlay';
@import 'site-header';
@import 'article';
@import 'content';
@import 'site-footer';
