/**
 * Styles the grid overlay.
 */

.show-overlay {

  .grid-overlay {
    @include auto-margins;
    display: grid;
    grid-gap: 0 var(--gap);
    grid-template-columns: repeat(var(--columns), 1fr);
    height: 100%;
    left: 0;
    max-width: var(--site-max);
    opacity: 0.3;
    padding: 0 var(--edge);
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;

    span {
      background-color: var(--overlay-column-color);

      &:nth-last-child(-n+4) {
        display: none;

        @media (min-width(lg)) {
          display: inline-block;
        }
      }
    }
  }
}
