/**
 * Reset styles and setup.
 */

:root {
  font-size: medium;
  --color-text: #31313B;
  --link-hover: #AC7DA9;
  --header-color: #0E244B;
  --overlay-column-color: #FBB294;
}

html {
  background-color: white;
}

html, body, div, span,
article, aside, footer, header, nav, section,
h1, h2, h3, h4, h5, h6,
p, em, strike, strong, code,
a, button,
figure, figcaption, img {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  font: inherit;
  vertical-align: baseline;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

a {
  color: inherit;
  font-weight: 700;
  transition: color 250ms ease;

  &:focus,
  &:hover {
    color: var(--link-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {

  &:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style-type: circle;
  margin: 0 0 1.75rem 0;
}

button {
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
}

figure {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
}

figcaption {
  font-size: 0.75rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

svg {
  display: block;
  height: auto;
  pointer-events: none;
  width: 100%;
}

code {

  p &,
  li & {
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 2px;
    font: 400 90% 'Courier', monospace;
    padding: 0 0.3em;
  }
}

hr {
  height: 1px;
  border: none;
  background-color: lightgray;
  width: 80%;
  margin: 0 auto 1.75rem auto;
}

body {
  background-color: white;
  color: var(--color-text);
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeSpeed;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
}

[role="main"] {
  /* tbd */
}
