@use 'utilities' as *;
@use 'breakpoints' as bp;
@use 'layout';
@use 'colors';

/**
 * Styles the site header, including navigation.
 */

.site-header {
  background-color: colors.$header-color;
  color: white;
  width: 100vw;

  @media (bp.min(lg)) {
    height: rem(80);
    margin-bottom: rem(30);
  }
}

.site-header__inner {
  @include layout.auto-margins;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /**
   * Using the `tidy-var()` to get a config value, for no other reason than that
   * it's convenient.
   *
   * padding: tidy-var(edge) 0;
   */
  padding: tidy-var(edge) 0;

  /**
   * Quick and dirty full-width container.
   *
   * width: tidy-span(tidy-var(columns));
   */
  width: tidy-span(tidy-var(columns));

  @media (bp.min(lg)) {
    align-items: center;
    flex-wrap: nowrap;
    /**
     * Because I configured Tidy Columns to use Custom Properties, the values
     * inherit as expected, so no need to redeclare the offset nor 8-column span.
     */
  }
}

.site-header__title {
  font-size: rem(30);
  margin-bottom: rem(16);
  text-align: center;
  width: 100%;

  @media (bp.min(lg)) {
    margin-bottom: 0;
    margin-right: rem(50);
    text-align: left;
    width: auto;
  }
}

.site-header__toggle {
  appearance: none;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #455066;
  color: colors.$color-text;
  font: inherit;
  font-size: rem(14);
  height: rem(36);
  margin: 0 0 rem(16) 0;
  /**
   * Using the `tidy-var()` to get a config value to keep the button edge
   * padding consistent with any other horizontal spacing.
   *
   * padding: 0 tidy-var(edge);
   */
  padding: 0 tidy-var(edge);

  @media (bp.min(lg)) {
    font-size: rem(16);
    margin-bottom: 0;
    /**
     * Because I configured Tidy Columns to use Custom Properties, the values
     * inherit as expected, so no need to redeclare the offset.
     */
  }
}

.menu {
  margin-left: auto;
}

.menu__list {
  font-size: rem(14);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (bp.min(md)) {
    align-items: center;
    display: flex;
    font-size: rem(16);
  }
}

.menu__item {
  margin-bottom: rem(5);

  @media (bp.min(md)) {
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: rem(30);
    }
  }

  a {
    color: white;
    font-weight: normal;
    text-decoration: none;
  }
}
