/**
 * Styles the site footer.
 */

[role="contentinfo"] {
  @include auto-margins;
  font-size: rem(12);
  margin-bottom: rem(10);
  /**
   * Quick and dirty, fully-responsive, full-width container.
   *
   * Because I am using a breakpoint configuration to set up two distinct
   * Tidy Columns configurations, the declaration must be re-declared within
   * the breakpoint to ensure the correct values are used in the calculation.
   *
   * Append !tidy to the declaration to automatically duplicate it inside the
   * configuration's breakpoints.
   *
   * When compiling from Sass, you are required to escape the exclamation: \!tidy
   *
   * tidy-span: tidy-var(columns) !tidy;
   */
  tidy-span: tidy-var(columns) \!tidy;

  p {
    /**
     * The design calls for the footer content to be offset by 1.5 columns.
     * It happens.
     *
     * This offset is for all screen sizes.
     *
     * Because I am using a breakpoint configuration to set up two distinct
     * Tidy Columns configurations, the declaration must be re-declared within
     * the breakpoint to ensure the correct values are used in the calculation.
     *
     * Append !tidy to the declaration to automatically duplicate it inside the
     * configuration's breakpoints.
     *
     * When compiling from Sass, you are required to escape the exclamation: \!tidy
     *
     * tidy-offset-left: 1.5 !tidy;
     */
    tidy-offset-left: 1.5 \!tidy;
  }
}
