@use 'utilities' as *;
@use 'breakpoints' as bp;
@use 'layout';

/**
 * Styles the site footer.
 */

[role="contentinfo"] {
  @include layout.auto-margins;
  font-size: rem(12);
  margin-bottom: rem(10);
  /**
   * Quick and dirty full-width container, which inherits gracefully across
   * breakpoints because I configured Tidy Columns to use Custom Properties.
   *
   * width: tidy-span(tidy-var(columns));
   */
  width: tidy-span(tidy-var(columns));

  p {
    /**
     * The design calls for the footer content to be offset by 1.5 columns.
     * It happens...
     *
     * margin-left: tidy-offset(1.5);
     */
    margin-left: tidy-offset(1.5);
  }
}
