/**
 * Styles the site header, including navigation.
 */

.site-header {
  background-color: $header-color;
  color: white;
  margin-bottom: rem(30);
  width: 100vw;

  @media (min-width(lg)) {
    height: rem(80);
  }
}

.site-header__inner {
  @include auto-margins;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /**
   * Using the `tidy-var()` to get a config value, for no other reason than that
   * it's convenient.
   *
   * padding: tidy-var(edge) 0;
   */
  padding: tidy-var(edge) 0;

  /**
   * Quick and dirty full-width container.
   *
   * width: tidy-span(tidy-var(columns));
   */
  width: tidy-span(tidy-var(columns));

  @media (min-width(lg)) {
    align-items: center;
    flex-wrap: nowrap;
    /**
     * Because I am using a breakpoint configuration to set up two distinct
     * Tidy Columns configurations, the declaration must be re-declared within
     * the breakpoint to ensure the correct values are used in the calculation.
     *
     * Check out the Tidy Columns Wiki for simple `keep-tidy` Sass mixin.
     * @see https://github.com/goodguyry/postcss-tidy-columns/wiki
     *
     * padding: tidy-var(edge) 0;
     * width: tidy-span(tidy-var(columns));
     */
    padding: tidy-var(edge) 0;
    width: tidy-span(tidy-var(columns));
  }
}

.site-header__title {
  font-size: rem(30);
  margin-bottom: rem(16);
  text-align: center;
  width: 100%;

  @media (min-width(lg)) {
    margin-bottom: 0;
    margin-right: rem(50);
    text-align: left;
    width: auto;
  }
}

.site-header__toggle {
  appearance: none;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #455066;
  color: $color-text;
  font: inherit;
  font-size: rem(14);
  height: rem(36);
  margin: 0 0 rem(16) 0;
  /**
   * Using the `tidy-var()` to get a config value to keep the button edge
   * padding consistent with any other horizontal spacing.
   *
   * padding: 0 tidy-var(edge);
   */
  padding: 0 tidy-var(edge);

  @media (min-width(lg)) {
    font-size: rem(16);
    margin-bottom: 0;
    /**
     * Because I am using a breakpoint configuration to set up two distinct
     * Tidy Columns configurations, the declaration must be re-declared within
     * the breakpoint to ensure the correct values are used in the calculation.
     *
     * Check out the Tidy Columns Wiki for simple `keep-tidy` Sass mixin.
     * @see https://github.com/goodguyry/postcss-tidy-columns/wiki
     *
     * padding: 0 tidy-var(edge);
     */
    padding: 0 tidy-var(edge);
  }
}

.menu {
  margin-left: auto;
}

.menu__list {
  font-size: rem(14);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width(md)) {
    align-items: center;
    display: flex;
    font-size: rem(16);
  }
}

.menu__item {
  margin-bottom: rem(5);

  @media (min-width(md)) {
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: rem(30);
    }
  }

  a {
    color: white;
    font-weight: normal;
    text-decoration: none;
  }
}
