:root {
  --columns: 12;
  --gap: 1.25rem;
  --edge: 1.875rem;
}

@tidy columns var(--columns);
@tidy siteMax 80rem;
@tidy gap var(--gap);
@tidy edge var(--edge);
@tidy debug true;

.site-header__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: tidy-var(siteMax);
  padding: 0 1.875rem;
  width: 100vw;
}

.article {
  display: grid;
  grid-gap: 0 tidy-var(gap);
  grid-template-columns: repeat(12, 1fr);
  max-width: tidy-var(siteMax);
  padding: 0 1.875rem;
}

.article__header {
  grid-column: 1 / span 12;
}

.article-header__figure {
  display: grid;
  grid-gap: 0 tidy-var(gap);
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: tidy-var(siteMax);
}

.article-header__img {
  grid-column: 1 / span 12;
}

.article-header__intro {
  grid-column: 4 / span 6;
  margin-top: -9.375rem;
}

.article-header__figcaption {
  grid-column: 10 / span 3;
}

.article__content {
  grid-column: 3 /span 6;
}

.content__figure--floated {
  float: right;
  margin-bottom: tidy-var(gap);
  margin-left: tidy-var(gap);
  tidy-offset-right: -1;
  tidy-span: 3;
}

.content__figure--fullwidth {
  margin-left: calc(tidy-offset(-2) - tidy-var(edge));
  max-width: tidy-var(siteMax);
}

@media (min-width: 80rem) {

  .content__figure--fullwidth {
    margin-left: calc(tidy-offset-full(-2) - tidy-var(edge));
  }
}

.content__figcaption--fullwidth {
  right: calc(tidy-var(edge) + tidy-offset(1));
}

@media (min-width: 80rem) {

  .content__figcaption--fullwidth {
    right: calc(tidy-var(edge) + tidy-offset-full(1));
  }
}

[role="contentinfo"] {
  tidy-span: 12;
}

[role="contentinfo"] p {
  margin-left: tidy-offset(1.5);
}

@media (min-width: 80rem) {

  [role="contentinfo"] p {
    margin-left: tidy-offset-full(1.5);
  }
}
