.site-header__inner {
  /* tidy-span: tidy-var(columns) */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 12) + 1.25rem * 11);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 12) + 1.25rem * 11);
}

.article {
  /* tidy-span: tidy-var(columns) */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 12) + 1.25rem * 11);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 12) + 1.25rem * 11);
}

.article-header__figcaption {
  /* tidy-column: 9 / span 3 / 0 */
  /* tidy-span: 3 */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 3) + 1.25rem * 2);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 3) + 1.25rem * 2);
  /* tidy-offset-left: 9 */
  margin-left: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 9) + 1.25rem * 9);
}

@media (min-width: 80rem) {

  .article-header__figcaption {
    margin-left: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 9) + 1.25rem * 9);
  }
}

.article-header__intro {
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  /* tidy-span: 6 */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 6) + 1.25rem * 5);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 6) + 1.25rem * 5);
}

.article__content {
  /* tidy-span: 6 */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 6) + 1.25rem * 5);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 6) + 1.25rem * 5);
  /* tidy-offset-left: 2 */
  margin-left: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 2) + 1.25rem * 2);
}

@media (min-width: 80rem) {

  .article__content {
    margin-left: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 2) + 1.25rem * 2);
  }
}

.content__figure--floated {
  float: right;
  /* margin-bottom: tidy-var(gap) */
  margin-bottom: 1.25rem;
  /* margin-left: tidy-var(gap) */
  margin-left: 1.25rem;
  /* tidy-offset-right: -1 */
  margin-right: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * -1) + 1.25rem * -1);
  /* tidy-span: 3 */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 3) + 1.25rem * 2);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 3) + 1.25rem * 2);
}

@media (min-width: 80rem) {

  .content__figure--floated {
    margin-right: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * -1) + 1.25rem * -1);
  }
}

.content__figure--fullwidth {
  /* margin-left: calc(tidy-offset(-2) - tidy-var(edge)) */
  margin-left: calc(((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * -2) + 1.25rem * -2) - 1.875rem);
  /* max-width: tidy-var(siteMax) */
  max-width: 80rem;
}

@media (min-width: 80rem) {

  .content__figure--fullwidth {
    /* margin-left: calc(tidy-offset-full(-2) - tidy-var(edge)) */
    margin-left: calc(((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * -2) + 1.25rem * -2) - 1.875rem);
  }
}

.content__img  {
  /* tbd */
}

.content__figcaption--fullwidth {
  bottom: 20px;
  position: absolute;
  /* right: calc(tidy-var(edge) + tidy-offset(1)) */
  right: calc(1.875rem + (((100vw - 1.875rem * 2) / 12 - 1.1458rem) + 1.25rem));
}

@media (min-width: 80rem) {

  .content__figcaption--fullwidth {
    /* right: calc(tidy-var(edge) + tidy-offset-full(1)) */
    right: calc(1.875rem + (((80rem - 1.875rem * 2) / 12 - 1.1458rem) + 1.25rem));
  }
}

[role="contentinfo"] {
  /* tidy-span: tidy-var(columns) */
  width: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 12) + 1.25rem * 11);
  max-width: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 12) + 1.25rem * 11);
}

[role="contentinfo"] p {
  /* margin-left: tidy-offset(1.5) */
  margin-left: calc((((100vw - 1.875rem * 2) / 12 - 1.1458rem) * 1.5) + 1.25rem);
}

@media (min-width: 80rem) {

  [role="contentinfo"] p {
    /* margin-left: tidy-offset-full(1.5) */
    margin-left: calc((((80rem - 1.875rem * 2) / 12 - 1.1458rem) * 1.5) + 1.25rem);
  }
}
