.article {
  tidy-span: tidy-var(columns);
}

.article-header__figcaption {
  tidy-column: 9 / span 3 / 0;
}

.article-header__intro {
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  tidy-span: 6;
}

.article__content {
  tidy-span: 6;
  tidy-offset-left: 2;
}

.content__figure--floated {
  float: right;
  margin-bottom: tidy-var(gap);
  margin-left: tidy-var(gap);
  tidy-offset-right: -1;
  tidy-span: 3;
}

.content__figure--fullwidth {
  margin-left: calc(tidy-offset(-2) - tidy-var(edge));
  max-width: tidy-var(siteMax);
}

@media (min-width: 80rem) {

  .content__figure--fullwidth {
    margin-left: calc(tidy-offset-full(-2) - tidy-var(edge));
  }
}

.content__img  {
  /* tbd */
}

.content__figcaption--fullwidth {
  bottom: 20px;
  position: absolute;
  right: calc(tidy-var(edge) + tidy-offset(1));
}

@media (min-width: 80rem) {

  .content__figcaption--fullwidth {
    right: calc(tidy-var(edge) + tidy-offset-full(1));
  }
}
