/* Scoped option values */
.breakpoints {
	tidy-span: 3;
	margin-left: tidy-offset(2);
}
@media (min-width: 48rem) {
	.breakpoints {
		tidy-span: 2;
	}
}
@media (min-width: 48rem) and (max-width: 63.9375rem) {
	.breakpoints {
		tidy-span: 3;
	}
}
@media (max-width: 80rem) {
	.breakpoints {
		tidy-span: 2;
	}
}
