.breakpoint-matching {
	width: calc((((100vw - 1rem * 2) / 9 - 0.5556rem) * 3) + 0.625rem * 2);
	margin-left: calc((((100vw - 1rem * 2) / 9 - 0.5556rem) * 2) + 0.625rem * 2);
}
@media (min-width: 48rem) {
	.breakpoint-matching {
		width: calc((((100vw - 1rem * 2) / 12 - 0.9167rem) * 2) + 1rem);
	}
}
@media (min-width: 48rem) and (max-width: 63.9375rem) {
	.breakpoint-matching {
		width: calc((((100vw - 1rem * 2) / 12 - 0.9167rem) * 3) + 1rem * 2);
	}
}
@media (min-width: 48rem) and (max-width: 80rem) {
	.breakpoint-matching {
		/* multiple matches; fall back to root config */
		width: calc((((100vw - 1rem * 2) / 9 - 0.5556rem) * 3) + 0.625rem * 2);
	}
}
@media (max-width: 80rem) {
	.breakpoint-matching {
		/* @tidy edge override */
		width: calc((((100vw - 1rem * 2) / 12 - 0.9167rem) * 2) + 1rem);
		max-width: calc((((90rem - 1rem * 2) / 12 - 0.9167rem) * 2) + 1rem);
	}
}
