@tidy columns 16;
@tidy gap 0.625rem / true;
@tidy edge 32px;
@tidy site-max 75rem;

div {
	@tidy columns 12;
	@tidy gap 1.25rem / false;
	tidy-span: 2;
}
@media (min-width: 60rem) {
	div {
		@tidy edge 1rem;
		tidy-span: 3;
		tidy-offset-left: 2;
	}
}
div {
	@tidy edge 10px;
	tidy-span: 2;
}
