.zero-gaps-test-one__item {
	width: calc(((100vw - 10px * 2) / 12) * 4);
	max-width: calc(((75rem - 10px * 2) / 12) * 4);
	margin-left: calc((100vw - 10px * 2) / 12);
}
@media (min-width: 75rem) {
	.zero-gaps-test-one__item {
		margin-left: calc((75rem - 10px * 2) / 12);
	}
}
